/* 
    Created on : 12.09.2016, 09:03:19
    Author     : janaschaub
*/

.root{
	-fx-background-image: url("hintergrund_halloween.png");
	-fx-background-size: stretch;
}

.text{
-fx-fill: #FF6600;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.label {
    -fx-fill: #FF6600;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-text-alignment: center;
	
}

.button {
    -fx-text-fill:#660000;
    -fx-font-size: 20px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#FF6600,#660000);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-alignment:bottom_center;
    -fx-label-padding: 10px;
}

.button:hover {
    -fx-background-color: linear-gradient(#660000, #FF6600);
}