/* 
    Created on : 12.09.2016, 09:03:19
    Author     : janaschaub
*/

#root{
	-fx-background-image: url("hintergrund_halloween.png");
	-fx-background-size: stretch;
}

#ueberschrift{
	-fx-image: url("vier_halloween.png");
}


#container{-fx-fill: #000000;}

#bild{-fx-image: url("hexe.png");}


#text{
    -fx-font: 15px Tahoma;
    -fx-fill: black;
    -fx-font-weight: bold;
}

.slider .axis {
   -fx-tick-label-fill: #FF6600; 
   -fx-tick-label-size: 25px;
}

.label {
    -fx-text-fill: #FF6600;
    -fx-font-weight: bold;
    -fx-font-size: 20 Tahoma;
    -fx-alignment: center;
    -fx-text-alignment: center;
	
}

.togglebutton{
    -fx-base: #ea041f;  
    -fx-text-fill:#ea041f; 
}

.togglebutton:selected{
     -fx-base: #990000;
     -fx-text-fill: white;
}




.button {
    -fx-text-fill: #660000;
    -fx-font-size: 20px Tahoma;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ea041f, #FF6600);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-alignment:bottom_center;
    -fx-label-padding: 10px;
}

.button:hover {
    -fx-background-color: linear-gradient(#890b19, #af0014);
}

#grid{
    -fx-alignment: CENTER;
    -fx-Hgap:10;
    -fx-Vgap:10;
    -fx-halignment: center;
    -fx-valignment: center; 
}

#ueberschrift {
   -fx-alignment: TOP_CENTER;
   -fx-halignment: center;
   -fx-textalign: center;
}

#spielfeld{
   -fx-background-color: #E6E8E9;
   -fx-opacity: 1;
}

#boxmitte{
    -fx-width:100%;
    -fx-height: 100%;
    -fx-alignment: center;
}