/* 
    Created on : 12.09.2016, 09:03:19
    Author     : janaschaub
*/


#root{
	-fx-background-image: url("hintergrund_sport.png");
	-fx-background-size: stretch;
}

#ueberschrift{
	-fx-image: url("vier_sport.png");
	-fx-border-color:  #ffffff;
}

#container{-fx-fill: #ffffff;}

#bild{-fx-image: url("pokal.png");}

#titel{-fx-border-color: #660066;}

.text{
-fx-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.label {
    -fx-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-alignment: center;
    -fx-text-alignment: center;
	
}

#grid{
    -fx-alignment: CENTER;
    -fx-Hgap:10;
    -fx-Vgap:10;
    -fx-halignment: center;
    -fx-valignment: center; 
}

#ueberschrift {
   -fx-alignment: TOP_CENTER;
   -fx-halignment: center;
   -fx-textalign: center;
}

#spielfeld{
   -fx-background-color: #E6E8E9;
   -fx-opacity: 1;
}

#boxmitte{
    -fx-width:100%;
    -fx-height: 100%;
    -fx-alignment: center;
}

.button {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#FF3366, #FF6666);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-alignment:bottom_center;
    -fx-label-padding: 10px;
}

.button:hover {
    -fx-background-color: linear-gradient(#993366, #CC6699);
}