/* 
    Created on : 12.09.2016, 09:03:19
    Author     : janaschaub
*/



#container{
	-fx-background-image: url("ueberschrift.jpeg");
	-fx-width: 1400px;
	-fx-height: 150px;
	-fx-border-color: #666666;
}

#containerklein{
	-fx-fill: #ffffff;
}

#titel{
	 -fx-border-color: #660066;
}

.disk{
    -fx-background-image: url("spielstein-rot.png");
    
}
.text{
-fx-fill: #660066;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.label {
    -fx-fill: #660066;
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-alignment: center;
    -fx-text-alignment: center;
	
}
#grid{
    -fx-grid-lines-visible: true;
    -fx-alignment: CENTER;
    -fx-Hgap:10;
    -fx-Vgap:10;
    -fx-halignment: center;
    -fx-valignment: center;
    
    
}
#cell{
 
    
    -fx-alignment: top;
}

#ueberschrift {
   -fx-alignment: TOP_CENTER;
   -fx-halignment: center;
   -fx-textalign: center;
  
}
#spielfeld{
   -fx-background-color: #E6E8E9;
   -fx-opacity: 1;
   
}
#boxmitte{
    -fx-width:100%;
    -fx-height: 100%;
    -fx-alignment: center;
}

.button {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#FF3366, #FF6666);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-alignment:bottom_center;
    -fx-label-padding: 10px;
 
}
.button:hover {
    -fx-background-color: linear-gradient(#993366, #CC6699);
}